{%extends 'bbs/base.html'%}

{% block content %}
    <h1>Hello Django</h1>
    <p>{{title}}</p>

    {% if searchForm %}
        <form action='{% url "index" %}' method="get">
            <div class="form-group">
                {{searchForm}}
                <input type="submit" class="btn btn-outline-primary" value="OK">
                <a href="{% url 'index' %}" class="btn btn-outline-secondary">クリア</a>
            </div>
        </form>
    {% endif %}

    <table class="table table-striped table-hover">
        {% for article in articles %}
            <tr><td>{{article.id}}</td><td>{{article.content}}</td><td>{{article.name}}</td>
                <td><a href="{% url 'detail' article.id %}" class="btn btn-outline-primary">詳細を表示</a></td>
                <td><a href="{% url 'delete' article.id %}" class="btn btn-outline-secondary">記事を削除</a></td>
            </tr>
        {% endfor %}
    </table>
    <p>
        <a href="{% url 'create' %}" class='btn btn-outline-danger'>新規投稿作成</a>
    </p>
{% endblock %}